body {
  background-color: #4F4E68;
}
.cover, .page {
  position: absolute;
  padding: 1rem;
  transform-origin: 100% 0%;
  box-shadow: inset 3px 0px 20px rgba(0, 0, 0, 0.2),
    0px 0px 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.cover.turn {
  animation: bookCover 3s forwards;
}
.page.turn {
  animation: pageOpen 3s forwards;
}

@keyframes pageOpen{
    30% {z-index: 1999;}
    100% { transform: rotateY(-180deg);
        z-index: 10000;
    }
}

@keyframes bookOpen {
  30% { z-index: 999 }
  100% {  transform: rotateY(180deg);
    z-index: 999;}
}
@keyframes bookCover {
  30% { z-index: 999 }
  100% {  transform: rotateY(180deg);
    z-index: 1;}
}
