.flex{
  display: flex;
}
.capa {
  width: 200px;
  height: 200px;
  background-color: green;
}
.block {
  width:200px;
  height: 200px;
  background-color: red;
  position: absolute;
  -webkit-backface-visibility:hidden;
}

.block:hover{
  transition: 0.5s;
  transform: translateX(200px);
  -webkit-backface-visibility:hidden;
}